h1
      {
      color:white;
      }
      h2{
      color:white;
      }
      h3{
      color:#00b359;
      }
      pre{
      font-family: Arial, sans-serif;
      }
      section {
      background-color:#1a75ff;
      margin-left: auto;
      margin-right: auto;
      }
      body {
      font-family: Verdana, sans-serif;
      }
